@model List<AcunMedyaPortolfyoProject.Models.Tbl_Education>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2 style="background-color:red">Burası Eğitim Sayfası</h2>




<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Eğitim ID</th>
            
            </tr>
        </thead>
        <tbody>
            @*for while do while foreach*@
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.EducationID</td>
                </tr>
            }



        </tbody>
    </table>

</div>



