
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Burası About Sayfası</h2>



<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>About ID</th>
                <th>Kategori Resimi</th>
                <th>Başlık</th>
                <th>Doğum Günü</th>
                <th>Güncelle</th>
                <th>Sil</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>resim</td>
                <td>Burası Test başlığı</td>
                <td>09/09/2000</td>
                <td><a href="#" class="btn btn-success">Güncelle</a></td>
                <td><a href="#" class="btn btn-dark">Sil</a></td>
            </tr>
           

        </tbody>
    </table>
</div>


